html {
    min-height: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
}

h1.title {
   text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Andada');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    min-height: 100%;
    height: 100%;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #e62f0f;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  margin: 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;

}
 .wide {
width: 100%;

height: auto;
}

.white {
    color: rgb(139, 128, 128);
}
.box { 
    position: relative;
    z-index: 1;
    width: 100%;
}
.box .back {
    position: absolute; z-index: 1;
    top: 0; left: 0; width: 100%; height: 100%;
    background: white; opacity: 0.75;
}
.box .text { position: relative; z-index: 2; }

body.browser-ie8 .box .back { filter: alpha(opacity=75); }
.main
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1500px;
	height: 150px;
	background: #ffffff45;
	display: table;
	color: #383333;
}
.content
{
	padding: 20px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 4em;
}
hr {
    height: 2px;
    border: none;
    background-color: tomato;
ul {
    list-style-type: disc;
}

